<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="./app.js" defer></script>
   </head>


   <body >
    <header >
      <h1>Contact list</h1>
    </header>

<section id="Mainsection">


<section id="Addcontact">
      <button class="Main" @click="toggleadddetail" >Add Contact</button>
      <li v-if = "isadddetailallowed">
          <ul>
            <li>
              <strong>Name:</strong> 
              <input type="text"  
              v-model= "EnteredName" 
              placeholder="Enter Name"> 
            </li>
            <li> 
              <button @click='Addcontacts'>Add Details</button>  
            </li>  
             </ul>
        </li>   
</section>



<section id="Listofcontacts">
  <div class="dropdown">
    <button class="dropbtn">Contacts</button>
    <div class="dropdown-content">
      <div v-for= "Contact in Contacts"   >
      <li @click="Showchat  " >{{Contact.Name}}</li> 
      </div>   
    </div>
  </div>
</section>




<section id="Chatapp" v-if="isshowdetail">
 
    <div id="maincontainer">
  
      <body>
      <div id="container">
        <main>
          <header>        
            <div>
              <h2>User</h2>
            </div>  
          </header>
           <ul id="chat" >
            
            <div  v-for="value in messagetobedisplayed">
                <li :class="{me: islabelUser(value) , you: islabelFriend(value)}" >
                <div class="entete">
                  <h3>{{value.timestamp}}</h3>
                  <h2>{{value.label}}</h2>
                </div>
                <div class="message">
                {{value.value}} 
                </div>
              </li> 
            </div> 
            
              
  
            
          </ul> 
    
          <footer>
            <input type="text" v-model=Usertext placeholder="Enter Message"> 
            <button @click="Usertextlistadd()">Send</button>
          </footer>
        </main>
      </div>
      
      <div id="container">
        <main>
          <header>        
            <div>
              <h2>{{friendname}}</h2>
            </div>  
          </header>
      <ul id="chat">
          
            
            <div  v-for="text in messagetobedisplayed">
              <li :class="{you: islabelUser(text) , me: islabelFriend(text)}" >
                <div class="entete">
                  <h3>{{text.timestamp}}</h3>
                  <h2>{{text.label}}</h2>
                </div>
                <div class="message">
                {{text.value}} 
                </div>
              </li>
            </div>
          
              
          </ul>
     
          <footer>
            <input type="text" v-model="Friendtext" placeholder="Enter Message"> 
            <button @click="Friendtextlistadd">Send</button>
          </footer>
        </main>
      </div>
    </body>
    </div>
  

</section>























</section>
</body>
</html>
