<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
  <title>Chatapp</title>
</head>
<section>
  <div id="container"> <h1>Heylo</h1></div>
</section>



<section id="Chatapp">
  <body>
    <div id="maincontainer">
  
  
      <div id="container">
        <main>
          <header>        
            <div>
              <h2>Shrijith</h2>
            </div>  
          </header>
          <ul id="chat" >
            
            <div  v-for="text in Text">
              <li :class="{me: islabelShrijith(text) , you: islabelFriend(text)}" >
                <div class="entete">
                  <h3>{{text.timestamp}}</h3>
                  <h2>{{text.label}}</h2>
                </div>
                <div class="message">
                {{text.value}} 
                </div>
              </li>
            </div>
          
              
  
            
          </ul>
    
          <footer>
            <input type="text" v-model=Shrijithtext placeholder="Enter Message"> 
            <button @click="Shrijithtextlistadd">Send</button>
          </footer>
        </main>
      </div>
      
      <div id="container">
        <main>
          <header>        
            <div>
              <h2>Friend</h2>
            </div>  
          </header>
          <ul id="chat">
          
            
            <div  v-for="text in Text">
              <li :class="{you: islabelShrijith(text) , me: islabelFriend(text)}" >
                <div class="entete">
                  <h3>{{text.timestamp}}</h3>
                  <h2>{{text.label}}</h2>
                </div>
                <div class="message">
                {{text.value}} 
                </div>
              </li>
            </div>
          
              
          </ul>
    
          <footer>
            <input type="text" v-model=Friendtext placeholder="Enter Message"> 
            <button @click="Friendtextlistadd">Send</button>
          </footer>
        </main>
      </div>
      
    </div>
  </body>

</section>
</html>